.advancedqueue-status-queued,
.advancedqueue-status-processing,
.advancedqueue-status-success,
.advancedqueue-status-failure {
  display: inline-block;
  width: 6em;
  height: 12px;
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  line-height: 12px;
}

.advancedqueue-status-queued {
  background-image: url("../images/queued.gif");
}
.advancedqueue-status-processing {
  background-image: url("../images/processing.gif");
}
.advancedqueue-status-success {
  color: #363;
  background-image: url("../images/processed.png");
  font-weight: bold;
}
.advancedqueue-status-failure {
  color: #f00;
  background-image: url("../images/failed.png");
  font-weight: bold;
}
